RewriteEngine on
RewriteRule ^article_detail/([a-zA-Z0-9_-]+)/([0-9]+)\.html$ article_detail.php?article_det=$2
Options +FollowSymLinks
ErrorDocument 404 index.html
ErrorDocument 403 index.html
ErrorDocument 402 index.html
ErrorDocument 401 index.html
ErrorDocument 400 index.htmlű


